textarea {
  resize: none;
}

.protocol-input {
  margin: 0;
  display: flex;
  align-items: center;
}

.protocol-input > p {
  margin: 0;
  padding: 8px 0;
  flex-basis: 20%;
}

.protocol-input > input {
  margin: 0;
  padding: 8px 12px;
}

.create-notice-row {
  margin: 10px 0;
  padding: 5px;
}

.create-notice-csbutton {
  display: block;
  margin: 10px 5px;
}

.form-control[disabled] {
  background: none;
  color: #565656;
  border: none;
}

.icon-container {
  text-align: center;
  padding: 0;
}

.icon-container > .glyphicon {
  font-size: 20px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
