.create-notice-row {
    margin: 10px 0;
    padding: 5px;
}

.create-notice-csbutton {
    display: block;
    margin: 10px 5px;
}

.form-control[disabled] {
    background: none;
    color: #565656;
    border: none;
}
