@media all and (min-width: 480px) {
  .Login {
    font-size: 30px;
  }

  .Login_Card {
    padding: 150px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }

  .sfondo {
    background-image: url("/public/assets/images/logo_progetto_tutorato_blue.png");
    -webkit-transform: rotateY(130deg);
    transform: rotateY(130deg);
  }
}

@media (max-width: 991px) {
  .navbar-header {
    float: left !important;
  }

  .auth_buttons {
    float: right !important;
  }
}

@media all and (max-width: 480px) {
  .auth_buttons {
    text-align: center !important;
    float: none !important;
  }

  .navbar {
    max-height: inherit !important;
  }

  .navbar-header {
    float: none !important;
  }
}

@media all and (max-width: 720px) {
}
