.tabPane:checked {
    border-right: solid;
    border-top: solid;
    border-left: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-color: rgba(0, 0, 0, 0.76);
}

.tabItem {
    width: 10%;
    display: inline-block;
    float: left;
    margin-right: 0.6rem;
}

.tabItem:hover {
    border-right: solid;
    border-top: solid;
    border-left: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-color: rgba(0, 0, 0, 0.288);
}

.tabItem:hover .tabLink {
    color: rgba(116, 2, 2, 0.87);
}

.tabLink {
    color: black;
}

.tabContent {
    border-top: solid 1px;
}